<html>
  <head>
    {% if title %}
    <title>{{title}} - Kdb</title>
    {% else %}
    <title>Kdb</title>
    {% endif %}

    <meta charset="utf-8">

    <link rel="stylesheet" type="text/css" href="static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="static/bootstrap/css/bootstrap-theme.min.css">
    <script src="static/js/jquery-1.11.3.min.js"></script>
    <script src="static/bootstrap/js/bootstrap.min.js"></script>
  </head>
  <dev class="col-sm-12  col-xs-12 ">
    <div class="col-sm-12  col-xs-12 ">
    <div class="col-sm-12  col-xs-12 ">
        <a href="/index"> 知识库搜索 </a>
        <small><small>文章数：{{total_articles}}</small></small></href>
    </div>
  </div>
  <div class="col-sm-12  col-xs-12 ">
    <hr>
      <p>I love three things in the world</p>
      <p>The sun, the moon and you</p>
      <p>The sun for the morning, the moon for the night, and you forever</p>
    <hr>
  </div>
    {% block content %}


    {% endblock %}
  </dev>
</html>
