<html>
  <head>
    {% if title %}
    <title>{{title}} - Kdb</title>
    {% else %}
    <title>Kdb</title>
    {% endif %}

    <meta charset="utf-8">

    <link rel="stylesheet" type="text/css" href="static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="static/bootstrap/css/bootstrap-theme.min.css">
    <script src="static/js/jquery-1.11.3.min.js"></script>
    <script src="static/bootstrap/js/bootstrap.min.js"></script>
  </head>
  <dev class="col-sm-8  col-xs-10 col-sm-offset-2">
    <div class="col-sm-8  col-xs-12 col-sm-offset-2">
    <div>
        <a href="/index">知识库搜索</a>
        <small><small>文章数：{{total_articles}}</small></small></href>
    </div>
  </div>

    {% block content %}


    {% endblock %}
  </dev>
</html>
