{% extends "base.html"  %}

{% block content %}

<div class="col-sm-12  col-xs-12 ">
    <h5 class="text-center">结束界面</h5>

    <form class="form-horizontal" action="/end_search" method="post">
        <p class="text-left col-sm-12  col-xs-12">
        非常感谢您参与本次实验!

        </p>
        <hr class="col-sm-12  col-xs-12">
        <p class="text-left col-sm-12  col-xs-12">
        清选择认为哪个任务复杂度高
        </p>

        <div class="col-sm-12  col-xs-12 ">
            <label class="radio-inline col-sm-5  col-xs-5">
                <input type="radio" name="task_select" id="task1" value="task1" checked>任务一
            </label>
            <label class="radio-inline col-sm-5  col-xs-5">
                <input type="radio" name="task_select" id="task2"  value="task2">任务二
            </label>
        </div>
        <hr class="col-sm-12  col-xs-12">
        <p class="text-left">
        请点击“退出”结束本次实验，在此感谢您的参与
        </p>

        <div class="input-group col-sm-12  col-xs-12">
            <input type="hidden" id="user_id" name="user_id" value="{{user_id}}">
            <span class="input-group-btn">
                <button class="btn btn-default btn-primary col-sm-12  col-xs-12 " type="submit">提交并结束</button>
            </span>
        </div>
    </form>

</div>

{% endblock %}
