{% extends "base.html"  %}

{% block content %}

<div class="col-sm-8  col-xs-10 col-sm-offset-2">
    <h5 class="text-center">欢迎界面</h5>
    <p class="text-left">
    &nbsp;&nbsp;&nbsp;&nbsp;欢迎您参与本次实验，本实验的研究目的是研究科技文献服务平台检索结果呈现方式对用户满意度的影响，对于您的参与，我们表示衷心的感谢。本研究的研究目的是测试检索结果呈现方式，不是您的个人能力，因此请您按照个人情况参与即可。所有收集的数据和信息都将仅仅作为研究数据，属于匿名参与。实验的情景设置就是，假设您是一名学术工作者，根据我们给定的任务进行文献的进行检索工作，使用的检索系统分为有两种：一种是线性列表的结果呈现方式，一种是类目主题列表的呈现方式，您将会被随机安排使用一种呈现方式，按照用自己的检索方式查找并判断相关文献，获取相关知识并完成我们给出的问卷调查。在实验过程中，您可以随时终止，所以不必感到拘束，但是由于您的检索行为和检索时间都将作为研究的数据，因此请您尽量保持严肃认真，不要过多的做与实验无关的其他事情。
    </p>
    <p class="text-center">如果您同意参与实验，请点击“下一步”，或者点击“返回”退出界面。</p>

    <form class="form-horizontal" action="/personalinfo" method="get">
        <div class="input-group">
            <span class="input-group-btn">
                <button class="btn btn-default btn-primary" type="submit">下一步</button>
            </span>
        </div>
    </form>

</div>

{% endblock %}
