{% extends "base.html"  %}

{% block content %}

<div class="col-sm-12  col-xs-12 ">
    <h5 class="text-center">欢迎界面</h5>
    <p class="text-left col-sm-12  col-xs-12">
    欢迎您参与本次实验，本实验的研究目的是研究科技文献服务平台检索结果呈现方式对检索效果的影响，对于您的参与，我们表示衷心的感谢。
    </p>

    <ol class="col-sm-12  col-xs-12 ">
        <li class="col-sm-12  col-xs-12 ">
            本研究的研究目的不是您的个人能力，所以不需要感觉到有压力，请尽量保持放松；
        </li>
        <li class="col-sm-12  col-xs-12 ">
            所有收集的数据和信息都将仅仅作为研究数据，属于匿名参与，您不用担心信息泄露；
        </li>
        <li class="col-sm-12  col-xs-12 ">
            该实验没有时间限制，所以请保持放松，不要有时间压力，但是同时我们需要收集您的检索时间作为研究的数据，因此请您尽量保持严肃认真，不要过多的做与实验无关的其他事情;
        </li>
        <li class="col-sm-12  col-xs-12 ">
            您正在使用的实验系统由我们自主研发，是一个粗糙的原型系统，界面不够美观，功能也不够完善，比如在搜索时不支持自然语言搜索，也不支持通配符的使用，只支持关键词搜索，所以对于这些不完美请您忽略，在之后问卷填写中也不需要考虑这些因素。
        </li>
    </ol>
    <p class="text-center col-sm-12  col-xs-12">
        如果您同意参与实验，请点击“下一步”进入个人信息收集页面。
    </p>

    <form class="form-horizontal" action="/personalinfo" method="get">
        <div class="input-group col-sm-12  col-xs-12">
            <span class="input-group-btn">
                <button class="btn btn-default btn-primary col-sm-12  col-xs-12 " type="submit">下一步</button>
            </span>
        </div>
    </form>

</div>

{% endblock %}
