{% extends "base.html"  %}

{% block content %}

<div class="col-sm-12  col-xs-12 ">
    <h5 class="text-center">任务场景2</h5>
    <p class="text-left col-sm-12  col-xs-12">
        微博用户研究
    </p>
    <p class="text-left col-sm-12  col-xs-12" style="text-indent:2em">
    微博（Weibo）是一种基于用户关系信息分享、传播以及获取的通过关注机制分享简短实时信息的广播式的社交网络平台。假设你是一名负责微博手机客户端用户研究的工作人员，日常工作是研究微博手机客户端用户，包括用户特征（年龄、性别、兴趣爱好等）、用户行为（包括转发、评论、分享等），以及在用户研究的基础上构建用户画像，所以希望通过查看文献了解学术领域在该方面做出的研究成果。
    </p>
    <p class="text-left col-sm-12  col-xs-12" style="text-indent:2em">
    现在请使用当前给定的检索系统输入关键词开始检索，通过浏览检索结果的标题、关键词和摘要给出您的相关性判断，并在您认为相关的文献前打钩。
    </p>
    <p class="text-left col-sm-12  col-xs-12" style="text-indent:2em">
    点击“下一步”将开始文献检索，检索任务没有时间限制，您可以根据自己的需求持续的进行输入、浏览和点击，直到您认为已经搜索并标记到了所有相关文献，然后点击“结束搜索，完成小问卷”结束检索。另外，在本次检索任务结束后完成一个另一个关于主观心理负荷的问卷调查，请根据您在刚刚的检索经历如实完成该问卷。
    </p>
    <p class="text-center col-sm-12  col-xs-12">明确任务后，请点击“下一步”，开始搜索</p>

    <form class="form-horizontal" action="/search_normal_secondary?user_id={{user_id}}" method="post">
        <div class="input-group col-sm-12  col-xs-12">
            <span class="input-group-btn">
                <button class="btn btn-default btn-primary col-sm-12  col-xs-12 " type="submit">下一步</button>
            </span>
        </div>
    </form>

</div>

{% endblock %}
