{% extends "base.html"  %}

{% block content %}

<div class="col-sm-6  col-xs-6 col-sm-offset-3 col-xs-offset-3">
	<div>
		<form class="form-horizontal" action="/normal_search_key" method="get">
	        <div class="input-group">
	            <input type="text" id="keywords" name="keywords" placeholder="输入搜索关键词……">
                <input type="hidden" id="user_id" name="user_id" value="{{user_id}}">
	            <span class="input-group-btn">
					<button class="btn btn-default btn-primary" type="submit">
						<span class="glyphicon glyphicon-search"></span>
					</button>
	            </span>
	        </div>
	    </form>
	</div>
    <div>
        <p class="text-left col-sm-12  col-xs-12">
            本体构建问题
        </p>
        <p class="text-left col-sm-12  col-xs-12" style="text-indent:2em">
        在计算机科学与信息科学领域，本体是对特定领域之中某套概念及其相互之间关系的形式化表达。假设你是一名技术开发人员，现在需要配合一位医学专家构建一个本体，但是你之前对本体和本体构建并没有了解，因此需要通过在科技文献服务平台搜索相关文献了解本体和本体构建的相关知识。
        </p>
    </div>
</div>

{% endblock %}