{% extends "base.html"  %}

{% block content %}

<div class="col-sm-12  col-xs-12 ">
    <h5 class="text-center">个人信息收集</h5>
    <p class="text-left col-sm-12  col-xs-12">
    个人信息界面需要您回答以下问题：
    </p>
    <form class="form-horizontal col-sm-12 col-xs-12" method="POST" action="dispatch">
        <div class="form-group col-sm-12 col-xs-12 ">
            <div class="form-group col-sm-12 col-xs-12 ">
                <label>年龄</label>
            </div>
            <div class="form-group col-sm-12 col-xs-12 ">
                <input name="age">
            </div>
        </div>
        <div class="form-group col-sm-12 col-xs-12 ">
            <div class="form-group col-sm-12 col-xs-12 ">
                <label>性别</label>
            </div>
            <div class="form-group col-sm-12 col-xs-12 ">
                <select class="form-control" name="sex">
                    <option>男</option>
                    <option>女</option>
                </select>
            </div>
        </div>
        <div class="form-group col-sm-12 col-xs-12 ">
            <div class="form-group col-sm-12 col-xs-12 ">
                <label>学历</label>
            </div>
            <div class="form-group col-sm-12 col-xs-12 ">
                <select class="form-control" name="education">
                    <option>本科</option>
                    <option>硕士</option>
                    <option>博士</option>
                </select>
            </div>
        </div>
        <div class="form-group col-sm-12 col-xs-12 ">
            <div class="form-group col-sm-12 col-xs-12 ">
                <label>专业</label>
            </div>
            <div class="form-group col-sm-12 col-xs-12 ">
                <input name="professional">
            </div>
        </div>
        <div class="form-group col-sm-12 col-xs-12">
            <div class="form-group col-sm-12 col-xs-12">
                <label>您有多少年计算机进行文献检索的检索经验？</label>
            </div>
            <div class="form-group col-sm-12 col-xs-12">
                <select class="form-control" name="search_time">
                    <option>1年以内</option>
                    <option>1年-3年</option>
                    <option>3年-5年</option>
                    <option>5年-10年</option>
                    <option>10年以上</option>
                </select>
            </div>
        </div>
        <div class="form-group col-sm-12 col-xs-12">
            <div class="form-group col-sm-12 col-xs-12">
                <label>您的检索频率平均是多少？</label>
            </div>
            <div class="form-group col-sm-12 col-sm-12 col-xs-12">
                <select class="form-control" name="search_rate">
                    <option>从不</option>
                    <option>一年一次</option>
                    <option>一月一两次</option>
                    <option>一周一次</option>
                    <option>一周一两次</option>
                    <option>每天一次</option>
                    <option>每天多次</option>
                </select>
            </div>
        </div>

        <div class="form-group col-sm-12 col-xs-12">
            <div class="form-group col-sm-12 col-xs-12">
                <label>您使用过多少种文献数据库？</label>
            </div>
            <div class="form-group col-sm-12 col-xs-12">
                <select class="form-control" name="search_kinds">
                    <option>没有用过</option>
                    <option>1到2种</option>
                    <option>3到5种</option>
                    <option>5到10种</option>
                    <option>10种以上</option>
                </select>
            </div>
        </div>
        <div class="form-group col-sm-12 col-xs-12">
            <div class="form-group col-sm-12 col-xs-12">
                <label>您每次的搜索平均时长？</label>
            </div>
            <div class="form-group col-sm-12 col-xs-12">
                <select class="form-control" name="search_average_time">
                    <option>3分钟以下</option>
                    <option>3到10分钟</option>
                    <option>10到20分钟</option>
                    <option>20到30分钟</option>
                    <option>30分钟以上</option>
                </select>
            </div>
        </div>
        <div class="form-group col-sm-12 col-xs-12">
            <div class="form-group col-sm-12 col-xs-12">
                <label>在文献检索时我总能检索到我想要的？（通过百度、万方数据库等）</label>
            </div>
            <div class="form-group col-sm-12 col-xs-12">
                <select class="form-control" name="search_path">
                    <option>从来没有</option>
                    <option>极少数</option>
                    <option>偶尔</option>
                    <option>有时：大约占50%</option>
                    <option>经常</option>
                    <option>几乎总是</option>
                    <option>总是</option>
                </select>
            </div>
        </div>
        <div class="form-group col-sm-12 col-xs-12">
            <div class="form-group col-sm-12 col-xs-12">
                <label>通过填写以上问题，您认为自己的搜索经验水平属于相对较高还是较低？</label>
            </div>
            <div class="form-group col-sm-12 col-xs-12">
                <select class="form-control" name="search_level">
                    <option>较高</option>
                    <option>较低</option>
                </select>
            </div>
        </div>
        <div class="input-group col-sm-12  col-xs-12">
            <span class="">
                <button class="btn btn-default btn-primary" type="submit">下一步</button>
            </span>
        </div>

    </form>
</div>

{% endblock %}
