{% extends "base.html"  %}

{% block content %}

<div class="col-sm-6  col-xs-6 ">
	<div>
		<form class="form-horizontal" action="/search_normal_start?user_id={{user_id}}" method="post">
	        <div class="input-group">
	            <input type="submit" id="keywords" name="keywords" placeholder="输入搜索关键词……">
	            <span class="input-group-btn">
					<button class="btn btn-default btn-primary" type="submit">
						<span class="glyphicon glyphicon-search"></span>
					</button>
	            </span>
				<label id="user_id" name="user_id"></label>
	        </div>
	    </form>
	</div>

</div>

{% endblock %}