{% extends "base.html"  %}

{% block content %}

<div class="col-sm-12  col-xs-12 ">
    SrcDatabase-来源库<br>
    <small><small>{{srcDatabase_m}}</small></small><br>
    Title-题名<br>
    <small><small>{{title_m}}</small></small><br>
    Author-作者<br>
    <small><small>{{author_m}}</small></small><br>
    Organ-单位<br>
    <small><small>{{organ_m}}</small></small><br>
    Source-文献来源<br>
    <small><small>{{source_m}}</small></small><br>
    Keyword-关键词<br>
    <small><small>{{keyword_m}}</small></small><br>
    Summary-摘要<br>
    <small><small>{{summary_m}}</small></small><br>
</div>

{% endblock %}
