{% extends "base.html"  %}

{% block content %}
<div class="col-sm-12 col-xs-12">
    <div class="col-sm-3 col-xs-3">
        <ul class="col-sm-12 col-xs-12 list-group">
            {% for item in keys %}
            <li class="col-sm-12 col-xs-12 list-group-item">
                <a href="/search_key?user_id={{user_id}}&doc_class={{item}}&keywords={{keywords}}">
                    <span>{{item}}</span>
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>

    <div class="col-sm-9 col-xs-9">
        <div class="col-sm-12 col-xs-12">
            <a href="/search?user_id={{user_id}}">返回搜索</a>
        </div>
        <div class="col-sm-12  col-xs-12 ">
            <h5>类别：{{doc_class}}</h5>
            <h5>关键字：{{keywords}}</h5>
        </div>
        
        <div class="tab-content col-sm-12  col-xs-12 ">
            <div role="tabpanel" class="tab-pane active" id="search_normal">
                {% for item in pages.total_rows %}

                <label class="checkbox-inline col-sm-12  col-xs-12">
                    <input type="checkbox" name="valid_title" value="{{item['Title-题名']}}"><h5><a href="search_item?SrcDatabase={{item['SrcDatabase-来源库']}}&Title={{item['Title-题名']}}&Author={{item['Author-作者']}}&Organ={{item['Organ-单位']}}&Source={{item['Source-文献来源']}}&Keyword={{item['Keyword-关键词']}}&Summary={{item['Summary-摘要']}}">{{item["Title-题名"]}}</a></h5>
                </label>

                <div>
                    <div>
                        {{item["Summary-摘要"][:64]+'...'}}
                    </div>
                </div>

                {% endfor %}

                <script src="static/js/jquery.twbsPagination.js"></script>

                <ul id="pagination" class="pagination-sm"></ul>

                <script >
                     $(pagination).twbsPagination({
                        first: "首页",
                        prev: "前一页",
                        next: "后一页",
                        last: "尾页",
                        totalPages: {{pages.total_page}},
                        visiblePages: 10,
                        startPage: {{pages.current_page}},
                        onPageClick: function (event, page) {
                            location.href="/search_key?user_id={{user_id}}&doc_class={{doc_class}}&keywords={{keywords}}&page="+page;
                        }
                    });
                </script>

                <form class="form-horizontal col-sm-12 col-xs-12" method="POST" action="view_first_question">
                    <div class="input-group col-sm-12  col-xs-12">
                        <span class="">
                            <button class="btn btn-default btn-primary" type="submit">结束搜索，完成小问卷</button>
                        </span>
                    </div>                    
                </form>
            </div>
        </div>
    </div>
</div>
<script type='text/javascript'>
    window.onunload=check_input;

    function check_input(){
        var check_args = "";
        var check_list = document.getElementsByName("valid_title");
        for (var i=0; i<check_list.length; i++) {
            if (check_list[i].checked) {
                check_args += check_list[i].value + "breeve";
            }
        }
        $.post("/check_input", {"user_id":"{{user_id}}", "check_args":check_args});
    }
</script>
{% endblock %}
