{% extends "base.html"  %}

{% block content %}
<div class="col-sm-12 col-xs-12">
    <div class="col-sm-3 col-xs-3">
        <ul class="col-sm-12 col-xs-12 list-group">
            {% for item in keys %}
            <li class="col-sm-12 col-xs-12 list-group-item">
                <a href="search_key?keys={{keys}}&key={{item}}">
                    <span>{{item}}</span>
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>

    <div class="col-sm-9 col-xs-9">
        <div class="col-sm-12  col-xs-12 ">
            <h5>关键字：{{key}}</h5>
        </div>
    </div>
</div>
{% endblock %}
