{% extends "base.html"  %}

{% block content %}

<div class="col-sm-8  col-xs-10 col-sm-offset-2">
    SrcDatabase-来源库
    <small><small>{{srcDatabase_m}}</small></small>
    Title-题名
    <small><small>{{title_m}}</small></small>
    Author-作者
    <small><small>{{author_m}}</small></small>
    Organ-单位
    <small><small>{{organ_m}}</small></small>
    Source-文献来源
    <small><small>{{source_m}}</small></small>
    Keyword-关键词
    <small><small>{{keyword_m}}</small></small>
    Summary-摘要
    <small><small>{{summary_m}}</small></small>
</div>

{% endblock %}
