{% extends "base.html"  %}

{% block content %}

<div class="col-sm-12  col-xs-12 ">
	<div>
		<form class="form-horizontal" action="/search_profession_result" method="get" name="login">
	        <div class="input-group">
	            <input type="text" id="keywords" name="keywords" placeholder="输入搜索关键词……">
	             <span class="input-group-btn">
	             <button class="btn btn-default btn-primary" type="submit"><span class="glyphicon glyphicon-search"></button>
	             </span>
	        </div>
	    </form>
		<form class="form-horizontal" action="/search" method="get" name="login">
	        <div class="input-group">
	             <span class="input-group-btn">
	             <button class="btn btn-default btn-primary" type="submit">普通</button>
	             </span>
	        </div>
	    </form>
	</div>

</div>

{% endblock %}