{% extends "base.html"  %}

{% block content %}

<div class="col-sm-12  col-xs-12 ">
    <h5 class="text-center">任务场景2 主观心理负荷问卷调查</h5>
    <p class="text-left col-sm-12  col-xs-12">
        作为这个实验的一部分，我们需要收集关于您在执行搜索任务时所经历的关于主观心理负荷的数据。
    </p>
    <p class="text-left col-sm-12  col-xs-12">
        主观心理负荷来自于几个不同的因素，例如，有些人认为心理负荷主要来源于心智需求或者时间需求，其他人可能会觉得满足感或挫折感是心理负荷最重要的部分。以下是主观心理负荷的六个因素及其定义：
    </p>
    <table class="table col-sm-12  col-xs-12">
        <thead>
            <tr>
                <th>因素</th>
                <th>定义</th>
            </tr>
        </thead>

                <tbody>
            <tr>
                <td>心智需求</td>
                <td>需要多少心理和认知活动去思考、决策、计算、记忆、浏览、检索？觉得检索任务简单还是复杂？</td>
            </tr>
            <tr>
                <td>体力需求</td>
                <td>需要多少身体活动（如点击、下滑、上拉等）？检索过程中觉得缓慢、轻松、艰苦还是费力？</td>
            </tr>
            <tr>
                <td>时间需求</td>
                <td>完成任务过程中有感觉到时间上的压力么？完成任务的节奏快还是慢？</td>
            </tr>
            <tr>
                <td>满足感</td>
                <td>您认为刚才的检索任务执行效果如何？对自己的表现是否满意？</td>
            </tr>
            <tr>
                <td>努力</td>
                <td>为了达到您的检索期望，您付出了多少精神和身体消耗？</td>
            </tr>
            <tr>
                <td>挫折感</td>
                <td>在检索任务中感受到的沮丧、压力、恼怒程度</td>
            </tr>
        </tbody>
    </table>

    <form class="form-horizontal col-sm-12 col-xs-12" method="POST" action="exit_view_first">
        <p class="text-left col-sm-12  col-xs-12">
        以下是这六个元素的两两对比，对于每一对，请选择在检索过程中对主观心理负荷贡献较大的因素。
        </p>

        <div class="col-sm-12  col-xs-12 ">
            <label class="radio-inline col-sm-5  col-xs-5">
                <input type="radio" name="line1" id="line1_1" value="mind" checked>心智需求
            </label>
            <label class="radio-inline col-sm-5  col-xs-5">
                <input type="radio" name="line1" id="line1_2"  value="physical">体力需求
            </label>
        </div>


        <div class="col-sm-12  col-xs-12 ">
            <label class="radio-inline col-sm-5  col-xs-5">
                <input type="radio" name="line2" id="line2_1" value="mind" checked>心智需求
            </label>
            <label class="radio-inline col-sm-5  col-xs-5">
                <input type="radio" name="line2" id="line2_2"  value="time">时间需求
            </label>
        </div>


        <div class="col-sm-12  col-xs-12 ">
            <label class="radio-inline col-sm-5  col-xs-5">
                <input type="radio" name="line3" id="line3_1" value="mind" checked>心智需求
            </label>
            <label class="radio-inline col-sm-5  col-xs-5">
                <input type="radio" name="line3" id="line3_2"  value="satisfy">满足感
            </label>
        </div>


        <div class="col-sm-12  col-xs-12 ">
            <label class="radio-inline col-sm-5  col-xs-5">
                <input type="radio" name="line4" id="line4_1" value="mind" checked>心智需求
            </label>
            <label class="radio-inline col-sm-5  col-xs-5">
                <input type="radio" name="line4" id="line4_2"  value="strive">努力
            </label>
        </div>


        <div class="col-sm-12  col-xs-12 ">
            <label class="radio-inline col-sm-5  col-xs-5">
                <input type="radio" name="line5" id="line5_1" value="mind" checked>心智需求
            </label>
            <label class="radio-inline col-sm-5  col-xs-5">
                <input type="radio" name="line5" id="line5_2"  value="frustration">挫折感
            </label>
        </div>


        <div class="col-sm-12  col-xs-12 ">
            <label class="radio-inline col-sm-5  col-xs-5">
                <input type="radio" name="line6" id="line6_1" value="physical" checked>体力需求
            </label>
            <label class="radio-inline col-sm-5  col-xs-5">
                <input type="radio" name="line6" id="line6_2"  value="time">时间需求
            </label>
        </div>


        <div class="col-sm-12  col-xs-12 ">
            <label class="radio-inline col-sm-5  col-xs-5">
                <input type="radio" name="line7" id="line7_1" value="physical" checked>体力需求
            </label>
            <label class="radio-inline col-sm-5  col-xs-5">
                <input type="radio" name="line7" id="line7_2"  value="satisfy">满足
            </label>
        </div>


        <div class="col-sm-12  col-xs-12 ">
            <label class="radio-inline col-sm-5  col-xs-5">
                <input type="radio" name="line8" id="line8_1" value="physical" checked>体力需求
            </label>
            <label class="radio-inline col-sm-5  col-xs-5">
                <input type="radio" name="line8" id="line8_2"  value="strive">努力
            </label>
        </div>


        <div class="col-sm-12  col-xs-12 ">
            <label class="radio-inline col-sm-5  col-xs-5">
                <input type="radio" name="line9" id="line9_1" value="physical" checked>体力需求
            </label>
            <label class="radio-inline col-sm-5  col-xs-5">
                <input type="radio" name="line9" id="line9_2"  value="frustration">挫败感
            </label>
        </div>

        <div class="col-sm-12  col-xs-12 ">
            <label class="radio-inline col-sm-5  col-xs-5">
                <input type="radio" name="line10" id="line10_1" value="time" checked>时间需求
            </label>
            <label class="radio-inline col-sm-5  col-xs-5">
                <input type="radio" name="line10" id="line10_2"  value="satisfy">满足
            </label>
        </div>
        <div class="col-sm-12  col-xs-12 ">
            <label class="radio-inline col-sm-5  col-xs-5">
                <input type="radio" name="line11" id="line11_1" value="time" checked>时间需求
            </label>
            <label class="radio-inline col-sm-5  col-xs-5">
                <input type="radio" name="line11" id="line11_2"  value="strive">努力
            </label>
        </div>
        <div class="col-sm-12  col-xs-12 ">
            <label class="radio-inline col-sm-5  col-xs-5">
                <input type="radio" name="line12" id="line12_1" value="time" checked>时间需求
            </label>
            <label class="radio-inline col-sm-5  col-xs-5">
                <input type="radio" name="line12" id="line12_2"  value="frustration">挫败感
            </label>
        </div>
        <div class="col-sm-12  col-xs-12 ">
            <label class="radio-inline col-sm-5  col-xs-5">
                <input type="radio" name="line13" id="line13_1" value="satisfy" checked>满足
            </label>
            <label class="radio-inline col-sm-5  col-xs-5">
                <input type="radio" name="line13" id="line13_2"  value="strive">努力
            </label>
        </div>
        <div class="col-sm-12  col-xs-12 ">
            <label class="radio-inline col-sm-5  col-xs-5">
                <input type="radio" name="line14" id="line14_1" value="satisfy" checked>满足
            </label>
            <label class="radio-inline col-sm-5  col-xs-5">
                <input type="radio" name="line14" id="line14_2"  value="frustration">挫败感
            </label>
        </div>
        <div class="col-sm-12  col-xs-12 ">
            <label class="radio-inline col-sm-5  col-xs-5">
                <input type="radio" name="line15" id="line15_1" value="strive" checked>努力
            </label>
            <label class="radio-inline col-sm-5  col-xs-5">
                <input type="radio" name="line15" id="line15_2"  value="frustration">挫败感
            </label>
        </div>

        <p class="text-left col-sm-12  col-xs-12">
        接下来，请根据您对每个因素(精神需求、身体需求、时间需求、挫折、努力和满意度) 对特定任务的重要性的看法，给每个元素打分，分数越高代表您认为该元素的重要度越高( 0—100，分数梯度为5分，即您可以打分0,5,15....100)。
        </p>

        <div class="form-group col-sm-12 col-xs-12 ">
            <div class="form-group col-sm-5 col-xs-5 ">
                <label>心智需求</label>
            </div>
            <div class="form-group col-sm-5 col-xs-5 ">
                <input id="mind" name="mind">
            </div>
        </div>

        <div class="form-group col-sm-12 col-xs-12 ">
            <div class="form-group col-sm-5 col-xs-5 ">
                <label>体力需求</label>
            </div>
            <div class="form-group col-sm-5 col-xs-5 ">
                <input id="physical" name="physical">
            </div>
        </div>

        <div class="form-group col-sm-12 col-xs-12 ">
            <div class="form-group col-sm-5 col-xs-5 ">
                <label>时间需求</label>
            </div>
            <div class="form-group col-sm-5 col-xs-5 ">
                <input id="time" name="time">
            </div>
        </div>
        <div class="form-group col-sm-12 col-xs-12 ">
            <div class="form-group col-sm-5 col-xs-5 ">
                <label>满足</label>
            </div>
            <div class="form-group col-sm-5 col-xs-5 ">
                <input id="satisfy" name="satisfy">
            </div>
        </div>
        <div class="form-group col-sm-12 col-xs-12 ">
            <div class="form-group col-sm-5 col-xs-5 ">
                <label>努力</label>
            </div>
            <div class="form-group col-sm-5 col-xs-5 ">
                <input id="strive" name="strive">
            </div>
        </div>
        <div class="form-group col-sm-12 col-xs-12 ">
            <div class="form-group col-sm-5 col-xs-5 ">
                <label>挫败感</label>
            </div>
            <div class="form-group col-sm-5 col-xs-5 ">
                <input id="frustration" name="frustration">
            </div>
        </div>

        <input type="hidden" id="user_id" name="user_id" value="{{user_id}}">

        <div class="input-group col-sm-12  col-xs-12">
            <span class="">
                <button class="btn btn-default btn-primary" type="submit">结束</button>
            </span>
        </div>
    </form>
</div>

{% endblock %}
