{% extends "base.html"  %}

{% block content %}

<div class="col-sm-12  col-xs-12 ">
    <h5 class="text-center">任务场景2</h5>
    <p class="text-left">
        微博用户画像
    </p>
    <p class="text-left">
    微博(Weibo)是一种基于用户关系信息分享、传播以及获取的通过关注机制分享简短实时 信息的广播式的社交网络平台。假设你是负责微博手机客户端数据分析部门的一名技术人员，需 要完成一个构建客户端用户画像的项目，但是你本人之前对并没有相关知识和实施经验，因此需
要通过查阅资料。 现在请使用当前给定的检索系统输入关键词开始检索，找出您认为相关的文献，并在该文献
前面打钩，作为您的判断决策。
  点击“开始”将进行本次检索任务，检索任务没有时间限制，您可以根据自己的需求持续的
进行输入、浏览和点击，直到您认为已经搜索并标记到了所有相关文献，然后点击“结束”完成
本次检索。另外，在本次检索任务结束后完成一个另一个关于主观心理负荷的问卷调查，请根据
您在刚刚的检索经历如实完成该问卷。
    </p>
    <p class="text-center">明确任务后，请点击“下一步”，开始搜索</p>

    <form class="form-horizontal" action="/search_secondary?user_id={{user_id}}" method="post">
        <div class="input-group col-sm-12  col-xs-12">
            <span class="input-group-btn">
                <button class="btn btn-default btn-primary col-sm-12  col-xs-12 " type="submit">下一步</button>
            </span>
        </div>
    </form>

</div>

{% endblock %}
