{% extends "base.html"  %}

{% block content %}

<div class="col-sm-12  col-xs-12 ">
    <h5 class="text-center">任务场景1 主观心理负荷问卷调查</h5>
    <p class="text-left">
    &nbsp;&nbsp;&nbsp;&nbsp;作为这个实验的一部分，我们需要收集关于您在执行搜索任务时所经历的关于主观心理
负荷的数据。主观心理负荷由六个基本元素组成:心智需求、体力需求、时间需求、满足、
努力和挫折感。这些术语的定义可以通过点击它们各自的按钮来获得
    </p>
    <p class="text-left">
    &nbsp;&nbsp;&nbsp;&nbsp;以下是这六个元素的两两对比，对于每一对，请选择对刚刚执行的搜索任务的工作负荷
水平贡献最大的元素.
    </p>

    <div class="col-sm-12  col-xs-12 ">
        <label class="radio-inline col-sm-5  col-xs-5">
            <input type="radio" name="optionsRadiosinline" id="optionsRadios3" value="option1" checked>心智需求
        </label>
        <label class="radio-inline col-sm-5  col-xs-5">
            <input type="radio" name="optionsRadiosinline" id="optionsRadios4"  value="option2">体力需求
        </label>
    </div>


    <div class="col-sm-12  col-xs-12 ">
        <label class="radio-inline col-sm-5  col-xs-5">
            <input type="radio" name="optionsRadiosinline" id="optionsRadios3" value="option1" checked>心智需求
        </label>
        <label class="radio-inline col-sm-5  col-xs-5">
            <input type="radio" name="optionsRadiosinline" id="optionsRadios4"  value="option2">时间需求
        </label>
    </div>


    <div class="col-sm-12  col-xs-12 ">
        <label class="radio-inline col-sm-5  col-xs-5">
            <input type="radio" name="optionsRadiosinline" id="optionsRadios3" value="option1" checked>心智需求
        </label>
        <label class="radio-inline col-sm-5  col-xs-5">
            <input type="radio" name="optionsRadiosinline" id="optionsRadios4"  value="option2">满足
        </label>
    </div>


    <div class="col-sm-12  col-xs-12 ">
        <label class="radio-inline col-sm-5  col-xs-5">
            <input type="radio" name="optionsRadiosinline" id="optionsRadios3" value="option1" checked>心智需求
        </label>
        <label class="radio-inline col-sm-5  col-xs-5">
            <input type="radio" name="optionsRadiosinline" id="optionsRadios4"  value="option2">努力
        </label>
    </div>


    <div class="col-sm-12  col-xs-12 ">
        <label class="radio-inline col-sm-5  col-xs-5">
            <input type="radio" name="optionsRadiosinline" id="optionsRadios3" value="option1" checked>心智需求
        </label>
        <label class="radio-inline col-sm-5  col-xs-5">
            <input type="radio" name="optionsRadiosinline" id="optionsRadios4"  value="option2">挫折感
        </label>
    </div>


    <div class="col-sm-12  col-xs-12 ">
        <label class="radio-inline col-sm-5  col-xs-5">
            <input type="radio" name="optionsRadiosinline" id="optionsRadios3" value="option1" checked>体力需求
        </label>
        <label class="radio-inline col-sm-5  col-xs-5">
            <input type="radio" name="optionsRadiosinline" id="optionsRadios4"  value="option2">时间需求
        </label>
    </div>


    <div class="col-sm-12  col-xs-12 ">
        <label class="radio-inline col-sm-5  col-xs-5">
            <input type="radio" name="optionsRadiosinline" id="optionsRadios3" value="option1" checked>体力需求
        </label>
        <label class="radio-inline col-sm-5  col-xs-5">
            <input type="radio" name="optionsRadiosinline" id="optionsRadios4"  value="option2">满足
        </label>
    </div>


    <div class="col-sm-12  col-xs-12 ">
        <label class="radio-inline col-sm-5  col-xs-5">
            <input type="radio" name="optionsRadiosinline" id="optionsRadios3" value="option1" checked>体力需求
        </label>
        <label class="radio-inline col-sm-5  col-xs-5">
            <input type="radio" name="optionsRadiosinline" id="optionsRadios4"  value="option2">努力
        </label>
    </div>


    <div class="col-sm-12  col-xs-12 ">
        <label class="radio-inline col-sm-5  col-xs-5">
            <input type="radio" name="optionsRadiosinline" id="optionsRadios3" value="option1" checked>体力需求
        </label>
        <label class="radio-inline col-sm-5  col-xs-5">
            <input type="radio" name="optionsRadiosinline" id="optionsRadios4"  value="option2">挫败感
        </label>
    </div>

    <div class="col-sm-12  col-xs-12 ">
        <label class="radio-inline col-sm-5  col-xs-5">
            <input type="radio" name="optionsRadiosinline" id="optionsRadios3" value="option1" checked>时间需求
        </label>
        <label class="radio-inline col-sm-5  col-xs-5">
            <input type="radio" name="optionsRadiosinline" id="optionsRadios4"  value="option2">满足
        </label>
    </div>
    <div class="col-sm-12  col-xs-12 ">
        <label class="radio-inline col-sm-5  col-xs-5">
            <input type="radio" name="optionsRadiosinline" id="optionsRadios3" value="option1" checked>时间需求
        </label>
        <label class="radio-inline col-sm-5  col-xs-5">
            <input type="radio" name="optionsRadiosinline" id="optionsRadios4"  value="option2">努力
        </label>
    </div>
    <div class="col-sm-12  col-xs-12 ">
        <label class="radio-inline col-sm-5  col-xs-5">
            <input type="radio" name="optionsRadiosinline" id="optionsRadios3" value="option1" checked>时间需求
        </label>
        <label class="radio-inline col-sm-5  col-xs-5">
            <input type="radio" name="optionsRadiosinline" id="optionsRadios4"  value="option2">挫败感
        </label>
    </div>
    <div class="col-sm-12  col-xs-12 ">
        <label class="radio-inline col-sm-5  col-xs-5">
            <input type="radio" name="optionsRadiosinline" id="optionsRadios3" value="option1" checked>满足
        </label>
        <label class="radio-inline col-sm-5  col-xs-5">
            <input type="radio" name="optionsRadiosinline" id="optionsRadios4"  value="option2">努力
        </label>
    </div>
    <div class="col-sm-12  col-xs-12 ">
        <label class="radio-inline col-sm-5  col-xs-5">
            <input type="radio" name="optionsRadiosinline" id="optionsRadios3" value="option1" checked>满足
        </label>
        <label class="radio-inline col-sm-5  col-xs-5">
            <input type="radio" name="optionsRadiosinline" id="optionsRadios4"  value="option2">挫败感
        </label>
    </div>
    <div class="col-sm-12  col-xs-12 ">
        <label class="radio-inline col-sm-5  col-xs-5">
            <input type="radio" name="optionsRadiosinline" id="optionsRadios3" value="option1" checked>努力
        </label>
        <label class="radio-inline col-sm-5  col-xs-5">
            <input type="radio" name="optionsRadiosinline" id="optionsRadios4"  value="option2">挫败感
        </label>
    </div>

    <p class="text-left">
    &nbsp;&nbsp;&nbsp;&nbsp;接下来，请根据您对每个因素(精神需求、身体需求、时间需求、挫折、努力和满意度) 对特定任务的重要性的看法，给每个元素打分，分数越高代表您认为该元素的重要度越高( 0—100，分数梯度为5分，即您可以打分0,5,15....100)。
    </p>

    <div class="form-group col-sm-12 col-xs-12 ">
        <div class="form-group col-sm-12 col-xs-12 ">
            <label>心智需求</label>
        </div>
        <div class="form-group col-sm-12 col-xs-12 ">
            <input name="age">
        </div>
    </div>

    <div class="form-group col-sm-12 col-xs-12 ">
        <div class="form-group col-sm-12 col-xs-12 ">
            <label>体力需求</label>
        </div>
        <div class="form-group col-sm-12 col-xs-12 ">
            <input name="age">
        </div>
    </div>

    <div class="form-group col-sm-12 col-xs-12 ">
        <div class="form-group col-sm-12 col-xs-12 ">
            <label>时间需求</label>
        </div>
        <div class="form-group col-sm-12 col-xs-12 ">
            <input name="age">
        </div>
    </div>
   <div class="form-group col-sm-12 col-xs-12 ">
        <div class="form-group col-sm-12 col-xs-12 ">
            <label>满足</label>
        </div>
        <div class="form-group col-sm-12 col-xs-12 ">
            <input name="age">
        </div>
    </div>
   <div class="form-group col-sm-12 col-xs-12 ">
        <div class="form-group col-sm-12 col-xs-12 ">
            <label>努力</label>
        </div>
        <div class="form-group col-sm-12 col-xs-12 ">
            <input name="age">
        </div>
    </div>
   <div class="form-group col-sm-12 col-xs-12 ">
        <div class="form-group col-sm-12 col-xs-12 ">
            <label>挫败感</label>
        </div>
        <div class="form-group col-sm-12 col-xs-12 ">
            <input name="age">
        </div>
    </div>

    <form class="form-horizontal col-sm-12 col-xs-12" method="POST" action="view_first">
        <div class="input-group col-sm-12  col-xs-12">
            <span class="">
                <button class="btn btn-default btn-primary" type="submit">下一步</button>
            </span>
        </div>

    </form>
</div>

{% endblock %}
